name: Update Database

concurrency:
  group: database-build

on:
  schedule:
    - cron:  '11 05 * * *'
  workflow_dispatch:

jobs:
  build-crosswalk:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install dependencies
        run: pip install sqlite-utils csvs-to-sqlite labor-union-parser

      - name: Build union_names_crosswalk.db 
        run: make union_names_crosswalk.db

      - name: Zip databases
        run: zip crosswalk-databases.zip union_names_crosswalk.db f7.db nlrb.db lm20.db voluntary_recognitions.db

      - name: Upload databases
        uses: actions/upload-artifact@v4
        with:
          name: crosswalk-databases
          path: crosswalk-databases.zip

  build-and-deploy:
    needs: build-crosswalk
    permissions:
      contents: 'read'
      id-token: 'write'
      actions: write
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - id: 'auth'
        uses: 'google-github-actions/auth@v0'
        with:
            workload_identity_provider: 'projects/450850437809/locations/global/workloadIdentityPools/gh-pool/providers/gh-provider'
            service_account: 'github-deploy-labordata@labordata.iam.gserviceaccount.com'

      - name: Set up Cloud Run
        uses: google-github-actions/setup-gcloud@v0

      - name: set longer cloud build timeout
        run: |
          gcloud config set builds/timeout 1800
          gcloud config get builds/timeout

      - name: Download crosswalk databases
        uses: actions/download-artifact@v4
        with:
          name: crosswalk-databases

      - name: Unzip crosswalk databases
        run: |
          unzip crosswalk-databases.zip && rm crosswalk-databases.zip

      - name: dependencies
        run: pip install -r requirements.txt

      - name: get remaining databases
        run: make

      - name: Deploy to Cloudrun
        run: |
          gcloud config set run/region us-central1
          gcloud config set project labordata
          datasette publish cloudrun *.db \
            --memory 2Gi \
            --cpu 1 \
            --max-instances=2 \
            --service warehouse \
            -m warehouse_metadata.yml \
            --template-dir=templates/ \
            --extra-options="--crossdb --setting sql_time_limit_ms 100000 --cors --setting facet_time_limit_ms 500 --setting allow_facet off --setting trace_debug 1 --setting max_csv_mb 1000" \
            --install=datasette-atom \
            --install=datasette-rure \
            --install=pysqlite3-binary \
            --install=datasette-hashed-urls \
            --install=datasette-block-robots \
            --install=datasette-pretty-traces \
            --version-note=$GITHUB_RUN_NUMBER \
            --show-files

  workflow-keepalive:
    if: github.event_name == 'schedule'
    runs-on: ubuntu-latest
    permissions:
      actions: write
    steps:
      - uses: liskin/gh-workflow-keepalive@v1
